<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top py-0">
<div class="container-fluid">
    <a class="navbar-brand" href="/">
    {% load static %}
    <img src="{% static 'common/logo.png' %}" alt="Logo web" width="25" height="25" class="rounded-pill"> 
    {{SITE_DOMAIN_NAME}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app1:home' %}">App 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
        {% else %}
            <li>
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
            </li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{user.get_username}}</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li>
                        <form  action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <input class="dropdown-item" type="submit" value="Logout">
                        </form>
                    </li>
                </ul>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
</nav>
