div{
    color:red;
    font-size: 100px;
    font-family: sans-serif;
}

#change-me {
    background-color: lightgrey;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 50px;
    color: black;
  }

.custom-div{
    color:red
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
  }