{% extends "base/base.html" %}

{% block title %}Login{% endblock %} 

{% block content %}      

    {% load crispy_forms_tags %}

    <!--Login--> 
    <h1 class="font-weight-bold mt-3">Login</h2>
    <hr>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" style="margin-top:10px">Login</button>
    </form>
    <div class="container-fluid mt-3">
        <p class="text-left">Don't have an account? <a href="/accounts/register">Create an account</a></p>
        <p class="text-left">Forgot password? <a href="/accounts/password_reset">Reset your password</a></p>
    </div>
{% endblock %}
