# App Settings
APP_NAME="mi-proyecto"
ENVIRONMENT="development" # development, staging, production
DEBUG=True

# API Keys (Ejemplo)
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"
SECRET_KEY="tu-clave-secreca-aqui"