{% extends BASE_TEMPLATE_DIR %}

{% block title %}Password change{% endblock %} 

{% block content %}

	{% load crispy_forms_tags %}          

	<div class="container mt-3 mb-3">
		<h1>Password change</h1>
        <form method="POST">
            <div class="mb-2">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button class="btn btn-primary" type="submit">Change</button>
		    <a href="{% url 'accounts:profile' %}" class="btn btn-dark">Cancel</a>
        </form> 
    </div>

{% endblock %}