{% extends BASE_TEMPLATE_DIR %}

{% block title %}Password Reset{% endblock %} 

{% block content %}

    {% load crispy_forms_tags %}  
  
    <div class="container mt-3">
        <h1>Password reset confirm</h1>
        <p>Please enter your new password</p>
        <form method="POST">
            <div class="mb-2">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button class="btn btn-primary" type="submit">Reset password</button>
            <a href="{% url 'accounts:login' %}" class="btn btn-dark">Cancel</a>
        </form>
    </div>

{% endblock %}