{% extends BASE_TEMPLATE_DIR %}

{% block title %}Password Reset{% endblock %} 

{% block content %}

    {% load crispy_forms_tags %}  
  
    <!--Password Reset Confirm-->
	<h1 class="font-weight-bold mt-3">Password Reset Confirm</h2>
	<hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="container-fluid mt-2">
            <button class="btn btn-primary" type="submit">Reset password</button>
        </div>
    </form>

{% endblock %}