{% extends BASE_TEMPLATE_DIR %}

{% block title %}Update profile{% endblock %} 

{% block content %} 


{% load crispy_forms_tags %}         

    <div class="container mt-3 mb-3">
        <h1>Update profile</h1>
        <form  action="{% url 'accounts:update_profile' %}" method="post" class="post-form">
            <div class="mb-2">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
            <a href="{% url 'accounts:profile' %}" class="btn btn-dark">Cancel</a>
        </form>
    </div>

{% endblock %}